<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<br />

<%= form_tag(search_path, method: "get") do %>
  <%= label_tag :string, "Busca" %>
  <%= text_field_tag :string %>
  <%= submit_tag("Buscar") %>
<% end %>

<br />

<div>
  <% if !user_signed_in? %>
    <%= link_to 'Entrar', new_user_session_path %> <br> <br>
  <% else %>
    <nav> <%= "Bem-vindo #{current_user.email} "%> </nav> - <%= link_to 'Sair', destroy_user_session_path %> <br> <br>
  <% end %>
  <%= link_to "Enviar uma receita", new_recipe_path %> <br>
  <%= link_to "Cadastrar uma cozinha", new_cuisine_path %> <br>
  <%= link_to "Cadastrar tipo de receita", new_recipe_type_path %>
</div>

<h1> Tipos </h1>
<% @recipe_types.each do |recipe_type| %>
  <ul>
    <li> <%= link_to recipe_type.name, recipe_type_path(recipe_type.id) %> </li>
  </ul>
<% end %>

<h1> Cozinhas </h1>
<% @cuisines.each do |cuisine| %>
  <ul>
    <li> <%= link_to cuisine.name, cuisine_path(cuisine.id) %> </li>
  </ul>
<% end %>

<%= link_to 'Receitas cadastradas', list_recipes_path %>

<h3>Últimas receitas</h3>
<% @last_recipes.each do |recipe| %>
  <h4> <%= recipe.title %> </h4>
  <ul>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine.name   %></li>
  </ul>
<% end %>
