<h1>Resultado da busca por: <i><%= @string %></i> </h1>
<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
  <h1> <%= link_to recipe.title, recipe %> </h1>
  <ul>
      <li> <%= recipe.recipe_type.name %> </li>
      <li> <%= recipe.cuisine.name %> </li>
      <li> <%= recipe.difficulty %> </li>
      <li> <%= "#{recipe.cook_time} minutos" %> </li>
  <% end %>
<% else %>
  <p>Não foram encontradas receitas com o texto informado</p>
<% end %>
