<h1> Cadastrar Tipo de Receita </h1>
<p> <%= flash[:error] %> </p>
<%= form_for(@recipe_type) do |f|%>
  <div>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Enviar" %>
  </div>
<% end %>
